{% extends "habits/habit_base.html" %}

{% block prehabit %}

<div class='col-12'>
	<h1>{{habit.name}}</h1>

</div>
<div class='col-8'>

	<h5>Member Count: {{habit.members.count}}</h5>
</div>
<div class='col-4 habit_button_div'>
	<div class="content">
		{% if user in habit.members.all %}
		<a href="{% url 'habits:leave' slug=habit.slug %}" class=""><span
				class="glyphicon glyphicon-remove-circle"></span> Leave</a>
		{% else %}
		<a href="{% url 'habits:join' slug=habit.slug %}" class=""><span
				class="glyphicon glyphicon-ok-circle"></span> Join</a>
		{% endif %}
	</div>
</div>

{% endblock %}


{% block habit_content %}

<div class="col-md-12">
	{% if habit.habitposts.count == 0 %}
	<h2>No posts in this habit yet!</h2>

	{% else %}

	{% for habitpost in habit.habitposts.all %}
	{% include "habitposts/_habitpost.html" %}
	{% endfor %}

	{% endif %}
</div>
{% endblock %}