

    <div class="row">
        <div class="col-12">
            <div id="habit_graph"></div>

        </div>
    </div>

    <script>




    d3.json("{% url "tracking:habit_data" %}").then(function (data) {
        var margin = {top: 10, right: 30, bottom: 30, left: 200};

        const username = "{{user.username}}"
        const date_user_joined = new Date("{{user.date_joined.isoformat}}")
        const habitcount = data['count']
        const habitobjects = data['habits']
        console.log(habitobjects)
        for (var hab in habitobjects){
            console.log(habitobjects[hab]);
        }
        const dataset = data[username]['habitmeasurements'];
        const width = 650 - margin.left - margin.right;
        const height = 200 - margin.top - margin.bottom;
        const padding = 10;

        const svg = d3.select('#habit_graph')
            .append('svg')
            .attr("viewBox", `0 0 650 200`)
            .append("g")
                .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
        
        const latest_entry = d3.max(dataset.map(function(d) {return new Date(d.created)}))
        const latest_entry_plus = latest_entry.setDate(latest_entry.getDate() + 10)
        // Add X axis
        var x = d3.scaleTime()
            .domain([date_user_joined, latest_entry_plus])
            .range([ 0, width ]);
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        // Add Y axis
        var y = d3.scaleLinear()
            .domain([0, habitcount])
            .range([ height, 0]);
        svg.append("g")
            .call(d3.axisLeft(y).ticks(habitcount).tickSize(0).tickFormat(function(d){ return habitobjects[d]; }))
                .selectAll("text")
                  .attr('dx', '-1em')
                .call(wrap, margin.left);


        // Add dots
        svg.append('g')
            .selectAll("dot")
            .data(dataset)
            .enter()
            .append("circle")
            .attr("cx", function (d) { return x( new Date(d.created)); } )
            .attr("cy", function (d) { return y(d.habit); } )
            .attr("r", 5)
            .style("fill", function(d){
                if (d.reply == "Yes"){
                    return "white"
                }
                else{
                    return "#ae4d2d"
                }
            })

        });

function wrap(text, width) {
  text.each(function() {
    var text = d3.select(this),
        words = text.text().split(/\s+/).reverse(),
        word,
        line = [],
        lineNumber = 0,
        lineHeight = 1.1, // ems
        y = text.attr("y"),
        dy = parseFloat(text.attr("dy")),
        tspan = text.text(null).append("tspan").attr("x", 0).attr("y", y).attr("dy", dy + "em");
    while (word = words.pop()) {
      line.push(word);
      tspan.text(line.join(" "));
      if (tspan.node().getComputedTextLength() > width) {
        line.pop();
        tspan.text(line.join(" "));
        line = [word];
        tspan = text.append("tspan").attr("x", 0).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
      }
    }
  });
}
    

    </script>
