

    <div class="row">
        <div class="col-12">
            <div id="rmbacksquat_graph"></div>

        </div>
    </div>

    <script>




    d3.json("{% url "tracking:rmbacksquat_data" %}").then(function (data) {
        var margin = {top: 10, right: 30, bottom: 30, left: 100};

        const username = "{{user.username}}"
        const date_user_joined = new Date("{{user.date_joined.isoformat}}")
        const dataset = data[username]['rmbacksquatmeasurements'];
        const width = 500 - margin.left - margin.right;
        const height = 200 - margin.top - margin.bottom;
        const padding = 10;
    
        const svg = d3.select('#rmbacksquat_graph')
            .append('svg')
            .attr("viewBox", `0 0 500 200`)
            .append("g")
                .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");
        
        const latest_entry = d3.max(dataset.map(function(d) {return new Date(d.created)}))
        const latest_entry_plus = latest_entry.setDate(latest_entry.getDate() + 10)
        // Add X axis
        var x = d3.scaleTime()
            .domain([date_user_joined, latest_entry_plus])
            .range([ 0, width ]);
        svg.append("g")
            .attr("transform", "translate(0," + height + ")")
            .call(d3.axisBottom(x));

        const biggest_entry = d3.max(dataset.map(function(d) {return d.rmbacksquat}))
        const biggest_entry_plus = biggest_entry + 50
        // Add Y axis
        var y = d3.scaleLinear()
            .domain([0, biggest_entry_plus])
            .range([ height, 0]);
        svg.append("g")
            .call(d3.axisLeft(y));

        // Add dots
        svg.append('g')
            .selectAll("dot")
            .data(dataset)
            .enter()
            .append("circle")
            .attr("cx", function (d) { return x( new Date(d.created)); } )
            .attr("cy", function (d) { return y(d.rmbacksquat); } )
            .attr("r", 3)
            .style("fill", "white")

        })
    

    </script>
