<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>EF PORTAL</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'efportal/css/efportalstyle.css' %}" />



</head>

<body>
    <div class='container-fluid' id='navbar_container'>

        <nav class='navbar navbar-expand-lg navbar-light' role='navigation' id='navbar'>
            <a class='navbar-brand mynav' href="{% url 'home' %}"><img id='ef_logo'
                    src="{% static 'efportal/images/ef_logo.JPG'%}" alt='EF Logo' /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavbar"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class='collapse navbar-collapse' id='collapseNavbar'>
                <ul class='nav navbar-nav ml-auto'>
                    {% if user.is_authenticated %}
                    {% comment %} <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Post</a></li>
                    {% endcomment %}
                    {% comment %} <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li>
                    {% endcomment %}
                    {% comment %} <li><a href="{% url 'groups:create' %}" class="btn btn-simple">Create Group</a></li>
                    {% endcomment %}
                    <li class='nav-item active'><a class="nav-link btn btn-simple"
                            href="{% url 'accounts:logout' %}">Log
                            out</a></li>
                    {% else %}
                    {% comment %} <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li>
                    {% endcomment %}
                    <li class='nav-item active'><a class="nav-link btn btn-simple" href="{% url 'accounts:login' %}">Log
                            in</a>
                    </li>
                    <li class='nav-item'><a class="nav-link btn btn-simple" href="{% url 'accounts:signup' %}">Sign
                            up</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </div>


    <div class='container mycontent'>

        {% block content %}


        {% endblock %}

    </div>
    {% comment %} <div class='container ' id='footer_container'> {% endcomment %}
        <footer class='footer'>
            <div class='container-fluid'>
                <div class='row text-center'>
                    <div class='col'>
                        <h5>Class Offerings:</h4>
                        <p><a href='#'>Weightliftings Basics</a></p>
                    </div>
                    <div class='col'>
                        <h5>Currently Listening To:</h4>
                        <p><a href='#'>Your Momma</a></p>
                    </div>
                    <div class='col'>
                        <h5>Currently Listening To:</h4>
                        <p><a href='#'>Your Momma</a></p>
                    </div>

                </div>
                <div class='row'>
                    <div class='col text-center'>
                        <p>Created by: <a href='https://www.jacoblhughes.com'>Jacob Hughes</a></p>
                    </div>

                </div>
            </div>
        </footer>


        {% comment %} </div> {% endcomment %}

</body>

</html>