<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>EF PORTAL</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'efportal/css/efportalstyle.css' %}" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
    </script>


    {% comment %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> {% endcomment %}



</head>

<body>
    <div class='container navbar_container'>

        <nav class='navbar navbar-expand-lg navbar-light' role='navigation' id='navbar'>
                <a class='navbar-brand mynav' href="{% url 'home' %}"><img id='ef_logo' src="{% static 'efportal/images/ef_logo.jpg' %}" /></a>         
                <ul class='nav navbar-nav navbar-right'>
                {% if user.is_authenticated %}
                {% comment %} <li><a href="{% url 'posts:create' %}" class="btn btn-simple">Post</a></li>
                {% endcomment %}
                {% comment %} <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li>
                {% endcomment %}
                {% comment %} <li><a href="{% url 'groups:create' %}" class="btn btn-simple">Create Group</a></li>
                {% endcomment %}
                <li class = 'nav-item'><a class="nav-link btn btn-simple" href="{% url 'accounts:logout' %}">Log out</a></li>
                {% else %}
                {% comment %} <li><a href="{% url 'groups:all' %}" class="btn btn-simple">Groups</a></li>
                {% endcomment %}
                <li class = 'nav-item'><a class="nav-link btn btn-simple" href="{% url 'accounts:login' %}">Log in</a></li>
                <li class = 'nav-item'><a class="nav-link btn btn-simple" href="{% url 'accounts:signup' %}">Sign up</a></li>
                {% endif %}
                </ul>
        </nav>
    </div>


    <div class='container mycontent'>

        {% block content %}


        {% endblock %}

    </div>
</body>

</html>