<!DOCTYPE html>
{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>EF PORTAL</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'efportal/css/efportalstyle.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<body>
    <div class='container-fluid' id='navbar_container'>

        <nav class='navbar navbar-expand-lg navbar-light' role='navigation' id='navbar'>
            <a class='navbar-brand mynav' href="{% url 'home' %}"><img id='ef_logo'
                    src="{% static 'efportal/images/ef_logo.JPG'%}" alt='EF Logo' /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseNavbar"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class='collapse navbar-collapse' id='collapseNavbar'>
                <ul class='nav navbar-nav ml-auto'>

                    {% if user.is_authenticated %}
                    <li class='nav-item '><a class="nav-link img-link"
                            href="{% url 'accounts:profile'  %}">Profile</a></li>
                    {% endif %}
                    <li class='nav-item'><a class="nav-link btn btn-simple" href="{% url 'home' %}"
                            class="btn btn-simple">Home</a></li>
                    <li class='nav-item'><a class="nav-link btn btn-simple" href="{% url 'about' %}"
                            class="btn btn-simple">About</a></li>
                    <li class='nav-item'><a href="{% url 'blog:all_blogposts' %}" class="nav-link btn btn-simple">Blog</a>
                    </li>

                    {% if user.is_authenticated %}
                    <li class='nav-item'><a class="nav-link btn btn-simple"
                            href="{% url 'habits:all' %}">Habits</a></li>
                    <li class='nav-item'><a class="nav-link btn btn-simple"
                            href="{% url 'posts:create' %}">Post</a></li>
                    <li class='nav-item'><a class="nav-link btn btn-simple"
                            href="{% url 'tracking:tracking' %}">Tracking</a></li>
                    {% else %}
                    <li class='nav-item active'><a class="nav-link btn btn-simple" href="{% url 'accounts:login' %}">Log
                            in</a>
                    </li>
                    <li class='nav-item'><a class="nav-link btn btn-simple" href="{% url 'accounts:signup' %}">Sign
                            up</a></li>
                    {% endif %}
                    <li class='nav-item'><a class="nav-link btn btn-simple" href="{% url 'contact' %}"
                            class="btn btn-simple">Contact</a></li>
                    {% if user.is_authenticated %}

                    <li class='nav-item active'><a class="nav-link btn btn-simple"
                            href="{% url 'accounts:logout' %}">Log
                            out</a></li>
                    {% endif %}

                    {% if user.is_superuser %}
                    <li class='nav-item'><a class="nav-link btn btn-simple" href="{% url 'efadmin' %}"
                            class="btn btn-simple">EFAdmin</a></li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </div>


    <div class='container mycontent'>

        {% block content %}


        {% endblock %}

    </div>
    <footer class='footer'>
        <div class='container-fluid'>
            <div class='row text-center'>
                <div class='col'>
                    <h4>Class Offerings:</h4>
                    <p><a href='#'>Weightliftings Basics</a></p>
                </div>
                <div class='col'>
                    <h4>Listening To:</h4>
                    <h5>Lady Day and John Coltrane - Gil Scott-Heron</h5>
                    <audio controls>
                        <source src="{% static 'efportal/audio/musica.mp3' %}" type="audio/mpeg">
                    </audio>
                </div>
                <div class='col'>
                    <h4>Newests Posts:</h4>
                    <ul class = 'list-unstyled list-group-flush'>
                    {% for p in recent_five %}
                    <li class='list-group-item' ><a href={% url 'blog:blogpost_detail' p.pk p.slug %}>{{ p.title }}</a></li>
                    {% endfor %}
                    </ul>
                </div>

            </div>
            <div class='row'>
                <div class='col text-center'>
                    <p>Created by: <a href='https://www.jacoblhughes.com'>Jacob Hughes</a></p>
                </div>

            </div>
        </div>
    </footer>



</body>

</html>