{% extends 'base.html' %}
{% block content %}

<div class='row'>
    <div class='col'>
        <div class='row'>

            Website and Apps:
        </div>

        I collect no data other than what you submit to me (habit tracking, weight submissions, posts on blogs or
        habits). This can be deleted at any time via my Namecheap server. Please contact me at jacob@evidentfitness.com
        if you have any questions about what data I may have.
    </div>
</div>
<div class='row'>
    <div class='col'>
        <div class='row'>

            Personal Training:
        </div>

        I may write things in a physical notebook but otherwise everything is stored digitally (programming). This can
        be deleted/destroyed at any time. Please contact me at jacob@evidentfitness.com if you have any questions about
        what data I may have.
    </div>
</div>


{% endblock %}