<div class='post_capsule'>
	<div class='row'>
		<div class='col-10'>
			<span class="username"><a
					href="{% url 'posts:for_user' username=post.user.username %}"><strong>{{ post.user.username }}</strong>
				</a></span>
			<span class="post_time"><a
					href="{% url 'posts:single' username=post.user.username pk=post.pk %}">({{ post.created_at }})</a></span>

		</div>
		<div class="media-body col-2 ">

			<div class="media-footer">
				{% if user.is_authenticated and post.user == user and not hide_delete %}
				<a href="{% url 'posts:delete' pk=post.pk %}" title="delete">
					<span class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
					<span class="text-danger icon-label">Delete</span>
				</a>
				{% endif %}
			</div>
		</div>
	</div>



	<div class='row'>
		<div class='col-12 post_message'>
			<p>{{ post.message|safe }}</p>

		</div>
	</div>

	<div class='row'>
		{% if post.habit %}
		<div class='col-12 post_habit_div'>

			<span><a href="{% url 'habits:single' slug=post.habit.slug  %}">{{post.habit.name}}</a></span>
		</div>
		{% endif %}
	</div>

</div>